@tailwind base;
@tailwind components;
@tailwind utilities;


section.body{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.cursor:hover {
    cursor: pointer;
}

span.sticker{
    @apply text-lg font-bold text-[#22577E] py-2;
    position: relative;
}

nav.navbar{
    background-color: white;
    z-index: 2;
}

/* Top heading article styles */
article.headingItem{
    @apply px-5 py-5 mx-5 ;
}

article.headingItem h2{
    @apply text-lg font-semibold font-serif;
}
article.headingItem div.dateAuth{
    @apply text-sm py-3 font-normal opacity-50;
}

/* Search headline Container and items */
article.headlineSearch{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 1fr;
}

article.headlineSearch img{
    height: 250px;
    width: fit-content;
    object-fit: cover
}

div.details{
    @apply px-10 py-5;
}
